body {
  background-color: #e7de5e;
}

.strike {
  text-decoration: line-through;
}

.italic {
  font-style: italic;
}

.under {
  text-decoration: underline;
}

.strong {
  font-weight: 600;
}

.all {
  width: 100%;
}

.photo1 {
  position: relative;
  bottom: 420px;
  left: 250px;
}

.text1 {
  position: relative;
  bottom: 600px;
  left: 600px;
}

.photo2 {
  position: relative;
  bottom: 650px;
  left: 250px;
}